.outerContainer {
  width: 75vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1em;
  margin: 0 auto;
}

.navContainer {
  border-bottom: solid 0.5px rgba(128, 128, 128, 0.178);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  color: black;
  text-decoration: none;
  padding: 10px;
  box-shadow: 0px 0px 8px 0px rgba(66, 62, 62, 0.164);
}

.navItem {
  width: 100px;
  text-align: center;
  padding: 2px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 12;
}

.navItem:hover {
  width: 100px;
  text-align: center;
  padding: 2px;
  font-weight: 500;
  color: rgb(96, 216, 96);
  cursor: pointer;
  text-decoration: none;
}

.iconContainer {
  align-self: center;
}

.imageContainer {
  border: solid 0.25px rgba(128, 128, 128, 0.178);
  border-radius: 20px;
  background-image: url("/money.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  height: 600px;
}

.discountGridContainer {
  /* border: solid blue; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.discountGridItem {
  border: solid 0.25px rgba(119, 119, 119, 0.219);
  box-shadow: 5px 5px 5px 5px rgba(201, 197, 197, 0.295);
  border-radius: 20px;
  width: 50%;
  /* height: 250px; */
  margin: 15px;
  padding: 20px;
  min-width: 350px;
}

.allerta-stencil-regular {
  font-family: "Allerta Stencil", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pageTitle {
  border: solid 0.25px rgba(128, 128, 128, 0.315);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  align-self: flex-start;
  text-align: left;
  margin: 25px 25px 25px 25px;
  padding: 5px;
}

.imageContainerEntertainment {
  border: solid 0.25px rgba(128, 128, 128, 0.178);
  border-radius: 20px;
  background-image: url("/popcorn.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 500px;
}

.imageContainerGroceries {
  border: solid 0.25px rgba(128, 128, 128, 0.178);
  border-radius: 20px;
  background-image: url("/groceries2.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 500px;
}

.imageContainerHealthcare {
  border: solid 0.25px rgba(128, 128, 128, 0.178);
  border-radius: 20px;
  background-image: url("/pills3.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 500px;
}

.imageContainerTelecomm {
  border: solid 0.25px rgba(128, 128, 128, 0.178);
  border-radius: 20px;
  background-image: url("/phone2.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 500px;
}

.imageContainerSocialServices {
  border: solid 0.25px rgba(128, 128, 128, 0.178);
  border-radius: 20px;
  background-image: url("/hands.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 500px;
}

.imageContainerRestaurants {
  border: solid 0.25px rgba(128, 128, 128, 0.178);
  border-radius: 20px;
  background-image: url("/pizza.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 500px;
}

.imageContainerShopping {
  border: solid 0.25px rgba(128, 128, 128, 0.178);
  border-radius: 20px;
  background-image: url("/shopping.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 500px;
}

.imageContainerTransportation {
  border: solid 0.25px rgba(128, 128, 128, 0.178);
  border-radius: 20px;
  background-image: url("/bus2.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 500px;
}

.imageContainerTravel {
  border: solid 0.25px rgba(128, 128, 128, 0.178);
  border-radius: 20px;
  background-image: url("/airport.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 500px;
}

.featuredContainer {
  background-color: rgba(9, 248, 100, 0.322);
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.featuredContainerHome {
  background-color: rgba(9, 248, 100, 0.322);
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.featuredGridContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.discountGridContainerHome {
  /* border: solid blue; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.discountGridItemHome {
  border: solid 0.25px rgba(119, 119, 119, 0.219);
  box-shadow: 5px 5px 5px 5px rgba(201, 197, 197, 0.295);
  background-color: white;
  border-radius: 20px;
  width: 40%;
  /* height: 250px; */
  margin: 15px;
  padding: 20px;
  min-width: 350px;
}

.discountGridItem {
  border: solid 0.25px rgba(119, 119, 119, 0.219);
  background-color: white;
  box-shadow: 5px 5px 5px 5px rgba(201, 197, 197, 0.295);
  border-radius: 20px;
  width: 40%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 10px;
  min-width: 350px;
  font-size: small;
}

.featuredText {
  text-align: center;
}

.categoryText {
  width: 30%;
  border-radius: 25px;
  padding: 3px;
  text-align: center;
  background-color: rgb(248, 231, 235);
}

.searchBar {
  padding: 25px;
  margin: 10px;
  border-radius: 8px;
  border: 0.5px solid rgba(128, 128, 128, 0.24);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgba(128, 128, 128, 0.13);
  align-items: center;
}

.searchField {
  font-size: 16px;
  width: 300px;
  padding: 8px;
}

.searchBtn {
  background-color: #3db141;
  color: white;
  font-weight: 600;
  padding: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.searchBtn:hover {
  background-color: #45a049;
}

.hometextContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.leftText {
  width: 50%;
}

.pagination .pageBtn {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.pagination .pageBtn.active {
  background-color: #3e8e41;
}

.pagination .pageBtn:hover {
  background-color: #3e8e41;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerItem {
  margin-left: 15px;
  margin-right: 15px;
  padding: 6px;
}


/* //////////////////////  media queries for responsive layout  ////////////////////////////// */

/* for smaller screens  up to 1167px */

@media (max-width: 1167px) {

  .outerContainer {
    width: 95vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1em;
    margin: 0 auto;
  }
   
  .navContainer {
    border: solid rgb(255, 255, 255);
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    align-content: center;
    color: black;
    text-decoration: underline;
    min-width: 480px;
  }

  
  .navItem {
    width: 60px;
    text-align: center;
    padding: 2px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    font-size: 10px;
    margin: 5px;
  }
  
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 12;
  }
  
  .navItem:hover {
    width: 60px;
    text-align: center;
    padding: 2px;
    font-weight: 500;
    color: rgb(96, 216, 96);
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
  }
  
  .iconContainer {
    align-self: center;
    display: none;
  }

  
  .siteLogo {
    display: none;
  }
  .imageContainer {
        width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 500px;
  }
  
  .discountGridContainer {
    /* border: solid blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .discountGridItem {
    border: solid 0.25px rgba(119, 119, 119, 0.219);
    box-shadow: 5px 5px 5px 5px rgba(201, 197, 197, 0.295);
    border-radius: 20px;
    width: 40%;
    /* height: 250px; */
    margin: 15px;
    padding: 20px;
    min-width: 350px;
  }
  
  .allerta-stencil-regular {
    font-family: "Allerta Stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .pageTitle {
    border: solid 0.25px rgba(128, 128, 128, 0.315);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    align-self: flex-start;
    text-align: left;
    margin: 25px 25px 25px 25px;
    padding: 5px;
  }
  
  .imageContainerEntertainment {
       width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 500px;
  }
  
  .imageContainerGroceries {
        width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 500px;
  }
  
  .imageContainerHealthcare {
       width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 500px;
  }
  
  .imageContainerTelecomm {
        width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 500px;
  }
  
  .imageContainerSocialServices {
       width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 500px;
  }
  
  .imageContainerRestaurants {
       width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 500px;
  }
  
  .imageContainerShopping {
        width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 500px;
  }
  
  .imageContainerTransportation {
       width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 500px;
  }
  
  .imageContainerTravel {
       width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 500px;
  }
  
  .featuredContainer {
    background-color: rgba(9, 248, 100, 0.322);
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  
  .featuredGridContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .discountGridItem {
    border: solid 0.25px rgba(119, 119, 119, 0.219);
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(201, 197, 197, 0.295);
    border-radius: 20px;
    width: 40%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 10px;
    min-width: 350px;
    font-size: small;
  }
  
  .featuredText {
    text-align: center;
  }
  
  .categoryText {
    width: 30%;
    border-radius: 25px;
    padding: 3px;
    text-align: center;
    background-color: rgb(248, 231, 235);
  }
  
  .searchBar {
    padding: 25px;
    margin: 10px;
    border-radius: 8px;
    border: 0.5px solid rgba(128, 128, 128, 0.24);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(128, 128, 128, 0.13);
    align-items: center;
  }
  
  .searchField {
    font-size: 16px;
    width: 300px;
    padding: 8px;
  }
  
  .searchBtn {
    background-color: #3db141;
    color: white;
    font-weight: 600;
    padding: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .searchBtn:hover {
    background-color: #45a049;
  }
  
  .hometextContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .leftText {
    width: 50%;
  }
  
  .pagination .pageBtn {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
  }
  
  .pagination .pageBtn.active {
    background-color: #3e8e41;
  }
  
  .pagination .pageBtn:hover {
    background-color: #3e8e41;
  }
  
  .paginationContainer {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  .footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footerItem {
    margin-left: 15px;
    margin-right: 15px;
    padding: 6px;
  }


}



/*
//////////////////////////////////////////////////////////////////////////////////////
/*




  /* for smaller screens  up to 480px */

  @media (max-width: 480px) {

    .footerContainer {
      width: 100%;
      display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 480px;
    }
  
    .footerItem {
      text-align: center;
    }
  
    .outerContainer {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column;
      margin: 0 auto;
    }
    
    .navContainer {
      border: solid rgb(255, 255, 255);
      box-shadow: none;
      display: flex;
      flex-wrap: wrap;
      justify-content:center;
      align-items: center;
      align-content: center;
      color: black;
      text-decoration: underline;
      min-width: 480px;
    }
  
    .logo {
      display:none;
    }
    
    .navItem {
      width: 70px;
      text-align: center;
      padding: 2px;
      font-weight: 500;
      text-decoration: none;
      color: black;
      font-size: 10px;
      margin: 3px;
    }
    
     .navItem:hover {
      width: 70px;
      text-align: center;
      padding: 2px;
      font-weight: 500;
      color: rgb(96, 216, 96);
      cursor: pointer;
      text-decoration: none;
      margin: 3px;
    }
    
    .iconContainer {
      align-self: center;
      display: none;
    }
    
    .imageContainer {
      border: solid 0.25px rgba(128, 128, 128, 0.178);
      border-radius: 20px;
      background-image: url("https://plus.unsplash.com/premium_photo-1683141052679-942eb9e77760?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-size: 480px;
      height: 200px;
      background-repeat: no-repeat;
      min-width: 480px;
    }
    
    .discountGridContainer {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0px;
      margin: 0px;
    }
    
    .discountGridItem {
      border: solid 0.25px rgba(119, 119, 119, 0.219);
      box-shadow: 5px 5px 5px 5px rgba(201, 197, 197, 0.295);
      border-radius: 20px;
      width: 300px;
      min-width: 300px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    
    .discountGridContainerHome {
      display: flex;
      flex-wrap: wrap;
      width: 450px;
      min-width: 450px;
    }
    
    .discountGridItemHome {
      border: solid 0.25px rgba(119, 119, 119, 0.219);
      box-shadow: 5px 5px 5px 5px rgba(201, 197, 197, 0.295);
      border-radius: 20px;
      width: 480px;
      padding: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  
    .pageTitle {
      border: solid 0.25px rgba(128, 128, 128, 0.315);
      border-radius: 20px;
      background-color: rgb(255, 255, 255);
      width: 100%;
      align-self: flex-start;
      text-align: left;
      margin: 25px 25px 25px 25px;
      padding: 5px;
      min-width: 480px;
    }
    
    .imageContainerEntertainment {
      border: solid 0.25px rgba(128, 128, 128, 0.178);
      border-radius: 20px;
      background-image: url("https://plus.unsplash.com/premium_photo-1723780828572-f4e5de28f49b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-size: 480px;
      height: 200px;
      background-repeat: no-repeat;
      min-width: 480px;
    }
    
    .imageContainerGroceries {
      border: solid 0.25px rgba(128, 128, 128, 0.178);
      border-radius: 20px;
      background-image: url("https://plus.unsplash.com/premium_photo-1663126491340-e96b3b7205b6?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-size: 480px;
      height: 200px;
      background-repeat: no-repeat;
      min-width: 480px;
    }
    
    .imageContainerHealthcare {
      border: solid 0.25px rgba(128, 128, 128, 0.178);
      border-radius: 20px;
      background-image: url("https://plus.unsplash.com/premium_photo-1681995528803-12eb15daf147?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-size: 480px;
      height: 200px;
      background-repeat: no-repeat;
      min-width: 480px;
    }
    
    .imageContainerTelecomm {
      border: solid 0.25px rgba(128, 128, 128, 0.178);
      border-radius: 20px;
      background-image: url("https://plus.unsplash.com/premium_photo-1661338963863-7544b69e1968?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-size: 480px;
      height: 200px;
      background-repeat: no-repeat;
      min-width: 480px;
    }
    
    .imageContainerSocialServices {
      border: solid 0.25px rgba(128, 128, 128, 0.178);
      border-radius: 20px;
      background-image: url("https://images.unsplash.com/photo-1666885181601-73c2f69ac354?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-size: 480px;
      height: 200px;
      background-repeat: no-repeat;
      min-width: 480px;
    }
    
    .imageContainerRestaurants {
      border: solid 0.25px rgba(128, 128, 128, 0.178);
      border-radius: 20px;
      background-image: url("https://images.unsplash.com/photo-1533640924469-f04e06f8898d?q=80&w=1926&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-size: 480px;
      height: 200px;
      background-repeat: no-repeat;
      min-width: 480px;
    }
    
    .imageContainerShopping {
      border: solid 0.25px rgba(128, 128, 128, 0.178);
      border-radius: 20px;
      background-image: url("https://images.unsplash.com/photo-1584797802294-190bd128cc83?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-size: 480px;
      height: 200px;
      background-repeat: no-repeat;
      min-width: 480px;
    }
    
    .imageContainerTransportation {
      border: solid 0.25px rgba(128, 128, 128, 0.178);
      border-radius: 20px;
      background-image: url("https://plus.unsplash.com/premium_photo-1682145057803-52f4640edd1e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-size: 480px;
      height: 200px;
      background-repeat: no-repeat;
      min-width: 480px;
    }
    
    .imageContainerTravel {
      border: solid 0.25px rgba(128, 128, 128, 0.178);
      border-radius: 20px;
      background-image: url("https://plus.unsplash.com/premium_photo-1679758630055-99ebb2df7d77?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-size: 480px;
      height: 200px;
      background-repeat: no-repeat;
      min-width: 480px;
    }
    
    .featuredContainer {
      min-width:100vw;
      padding:0;
    }
    
    .featuredHeaderText {
      margin-left: 15px;
    }
     
    .featuredText {
      text-align: center;
    }
    
    .categoryText {
      width: 50%;
      border-radius: 25px;
      padding: 3px;
      text-align: center;
      background-color: rgb(248, 231, 235);
    }
    
    .searchBar {
      border-radius: 8px;
      border: 0.5px solid rgba(128, 128, 128, 0.24);
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      background-color: rgba(128, 128, 128, 0.13);
      align-items: center;
    }
    
    .searchField {
      font-size: 16px;
      width: 300px;
      padding: 8px;
    }
    
    .searchBtn {
      background-color: #3db141;
      color: white;
      font-weight: 600;
      padding: 14px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin: 4px;
    }
    
    .searchBtn:hover {
      background-color: #45a049;
    }
    
    .hometextContainer {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 100%;
      min-width: 480px;
    }
    
    .leftText {
      width: 100%;
      min-width: 480px;
    }
  p {
    margin-top: 0;
  }
  
  h1 {
    width: 480px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  }
  



/*
//////////////////////////////////////////////////////////////////////////////////////
/*




  /* for smaller screens  up to 740px */

  @media (max-width: 740px) {

    .footerContainer {
      width: 100%;
      display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 740px;
    }
  
    .footerItem {
      text-align: center;
    }
  
    .outerContainer {
      width: 100vw;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column;
      padding: 1em;
      margin: 0 auto;
    }
    
    .navContainer {
      border: solid rgb(255, 255, 255);
      box-shadow: none;
      display: flex;
      flex-wrap: wrap;
      justify-content:flex-start;
      align-items: center;
      align-content: center;
      color: black;
      text-decoration: underline;
      min-width: 740px;
    }
  
    .logo {
      display:none;
    }
    
    .navItem {
      width: 65px;
      text-align: center;
      padding: 2px;
      font-weight: 500;
      text-decoration: none;
      color: black;
      font-size: 10px;
      margin: 1px;
    }
    
    .material-symbols-outlined {
      font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 12;
    }
    
    .navItem:hover {
      width: 70px;
      text-align: center;
      padding: 2px;
      font-weight: 500;
      color: rgb(96, 216, 96);
      cursor: pointer;
      text-decoration: none;
      margin: 3px;
    }
    
    .iconContainer {
      align-self: center;
      display: none;
    }
    
    .imageContainer {
      border: solid 0.25px rgba(128, 128, 128, 0.178);
      border-radius: 20px;
        background-size: 740px;
      height: 200px;
      background-repeat: no-repeat;
      min-width: 740px;
    }
    
    .discountGridContainer {
      display: flex;
      flex-wrap: wrap;
      width: 100vw;
      min-width: 740px;
    }
    
    .discountGridItem {
      border: solid 0.25px rgba(119, 119, 119, 0.219);
      box-shadow: 5px 5px 5px 5px rgba(201, 197, 197, 0.295);
      border-radius: 20px;
      width: 660px;
      min-width: 660px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    
    .discountGridContainerHome {
      display: flex;
      flex-wrap: wrap;
      width: 700px;
      min-width: 700px;
    }
    
    .discountGridItemHome {
      border: solid 0.25px rgba(119, 119, 119, 0.219);
      box-shadow: 5px 5px 5px 5px rgba(201, 197, 197, 0.295);
      border-radius: 20px;
      width: 700px;
      padding: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  
    .pageTitle {
      border: solid 0.25px rgba(128, 128, 128, 0.315);
      border-radius: 20px;
      background-color: rgb(255, 255, 255);
      width: 100%;
      align-self: flex-start;
      text-align: left;
      margin: 25px 25px 25px 25px;
      padding: 5px;
      min-width: 740px;
    }
    
    .imageContainerEntertainment {
      border: solid 0.25px rgba(128, 128, 128, 0.178);
      border-radius: 20px;
        height: 300px;
      background-repeat: no-repeat;
      min-width: 740px;
    }
    
    .imageContainerGroceries {
      border: solid 0.25px rgba(128, 128, 128, 0.178);
      border-radius: 20px;
        height: 300px;
      background-repeat: no-repeat;
      min-width: 740px;
    }
    
    .imageContainerHealthcare {
      border: solid 0.25px rgba(128, 128, 128, 0.178);
      border-radius: 20px;
          background-size: 740px;
      height: 300px;
      background-repeat: no-repeat;
      min-width: 740px;
    }
    
    .imageContainerTelecomm {
      border: solid 0.25px rgba(128, 128, 128, 0.178);
      border-radius: 20px;
           height: 300px;
      background-repeat: no-repeat;
      min-width: 740px;
    }
    
    .imageContainerSocialServices {
      border: solid 0.25px rgba(128, 128, 128, 0.178);
      border-radius: 20px;
           background-size: 740px;
      height: 300px;
      background-repeat: no-repeat;
      min-width: 740px;
    }
    
    .imageContainerRestaurants {
      border: solid 0.25px rgba(128, 128, 128, 0.178);
      border-radius: 20px;
            background-size: 740px;
      height: 300px;
      background-repeat: no-repeat;
      min-width: 740px;
    }
    
    .imageContainerShopping {
      border: solid 0.25px rgba(128, 128, 128, 0.178);
      border-radius: 20px;
         background-size: 740px;
      height: 300px;
      background-repeat: no-repeat;
      min-width: 740px;
    }
    
    .imageContainerTransportation {
      border: solid 0.25px rgba(128, 128, 128, 0.178);
      border-radius: 20px;
          background-size: 740px;
      height: 300px;
      background-repeat: no-repeat;
      min-width: 740px;
    }
    
    .imageContainerTravel {
      border: solid 0.25px rgba(128, 128, 128, 0.178);
      border-radius: 20px;
          background-size: 740px;
      height: 300px;
      background-repeat: no-repeat;
      min-width: 740px;
    }
    
    .featuredContainer {
      width: 100vw;
      min-width:700px;
      padding:0;
    }
    
    .featuredHeaderText {
      margin-left: 15px;
    }
     
    .featuredText {
      text-align: center;
    }
    
    .categoryText {
      width: 100px;
      border-radius: 25px;
      padding: 3px;
      text-align: center;
      background-color: rgb(248, 231, 235);
    }
    
    .searchBar {
      border-radius: 8px;
      border: 0.5px solid rgba(128, 128, 128, 0.24);
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      background-color: rgba(128, 128, 128, 0.13);
      align-items: center;
    }
    
    .searchField {
      font-size: 16px;
      width: 300px;
      padding: 8px;
    }
    
    .searchBtn {
      background-color: #3db141;
      color: white;
      font-weight: 600;
      padding: 14px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin: 4px;
    }
    
    .searchBtn:hover {
      background-color: #45a049;
    }
    
    .hometextContainer {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      width: 100%;
      min-width: 740px;
      text-align: left;
    }
    
    .leftText {
      width: 100%;
      min-width: 730px;
    }
  p {
min-width: 200px;
  }
  
  h1 {
    min-width: 730px;
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  }
  